body{
    background-color: black;
    color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
}
.image {
    height: 450px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
}

.thumbnail{
    background-color: black;
    border: 0px;
}

#menu{
    opacity: 0.9;
    background-color: #55e6c5;
    height: auto;
}

.content {
    height: auto;
    width:100%;
    background: black;
    z-index: 2;
    /*padding: 80px 120px;*/
    padding-top: 30px;
    padding-bottom: 20px;
}
.content h1 {
    font-size: 40px;
    /*color: #464646;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 30px 60px;
}
.content p {
    font-size:20px;
    /*color: #343434;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}
#myPage {
    background: url(../Images/head_pattern_2.png) repeat;
    background-attachment: fixed;
}
/*#wall_2 {*/
    /*background: url(../Images/school.png) repeat;*/
    /*background-attachment: fixed;*/
/*}*/
/*#wall_3 {*/
    /*background: url(../Images/skulls.png) repeat;*/
    /*background-attachment: fixed;
}*/

nav {
    background: #000000;
}

.navbar-default {
    /*background-color: #2d2d30;*/
    background-color: #000;
    border-color: #2d2d30;
    opacity: 0.9;
}

#nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    opacity: 0.9;
    background-color: #2d2d30;
    /*background: rgba(0,0,0,1);*/
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
}
#nav #logo {
    height: 60px;
    width: 150px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto 100px;
}

#nav #logo img {
    height: 100%;
    width: 100%;

}

#art {
    position: relative;
    height: auto;
    background-color: brown;
    /*background: url(../Images/head_pattern_2.png) repeat ;*/
    /*background-attachment: fixed;*/
    opacity: 0.9;
}

#work {
    position: relative;
    height: auto;
    background-color: cadetblue;

}

h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    /*color:#3cb0f8;*/

}

.container-fluid{
    height: auto;
}

.title-myPage{
    align-content: center;
    text-align: center;
    height: auto;

}

.aux_content_1{
    height: 180px;
}

.nicescroll-rails{
    background-color: whitesmoke;
}

h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: whitesmoke;
}

/*GALLERY*/
#photos {
    opacity: .88;
}

#photos img {
    width: 30%;
    float: left;
    display: block;
    margin: 2px;
    height: 130px;
}

ul {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    display: block;
    max-width: 780px;
    text-align: center;
}

#overlay {
    background: rgba(0,0,0, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    z-index: 100;
    /*margin-top: 1300px;*/
}

#overlay img {
    /*margin-top: 1300px;*/

    margin: 10% auto 0;
    width: 550px;
    border-radius: 5px;


}

#photos {
    width: 100%;
}

#photo-gallery {
    width: 100%;
}